body {
    position: relative;
    /*padding-top: 70px;*/
}

::-webkit-scrollbar-thumb {
    background: rgba(152, 155, 156, 0.68);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    -ms-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    -o-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    background-color: rgba(108, 110, 111, 0.68);
}

::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    background: #dde1e2;
}

::-webkit-scrollbar:hover {
    background: #d2d5d6;
}
.book {
    width: 100%;
}

.book .navbar {
    margin-bottom: 0;
}

#doc-url {
  /*font-size: 18px;*/
  /*color: #666;*/
}

#sidebar-box {
  position: fixed;
  top: 70px;
  left: -300px;
  z-index: 2;
  bottom: 0;
  width: 300px;
  overflow-y: auto;
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}

#search-box {
  padding: 15px 15px 0;
  border-bottom: 1px solid #bbb;
}

.with-sidebar #sidebar-box{
  left: 0;
}
.with-sidebar #content-box{
  left: 300px;
}
.with-sidebar #sidebar-ctrl{
  left: 300px;
}

@media (max-width: 1500px) {
  .with-sidebar .container{
    width: 990px;
  }
}

@media (max-width: 992px) {
  #sidebar-box {
    width: 260px;
    left: -260px;
  }
  .with-sidebar #content-box{
    left: 260px;
  }
  .with-sidebar #sidebar-ctrl{
    left: 260px;
  }
}

@media (max-width: 769px) {
  #content-toc-box {
    display: none;
  }
}

#sidebar {
    padding: 5px 10px 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    background-color: #fdfdfd;
}
#sidebar>h1 {
    font-size: 24px;
    margin: 10px 0;
}
#sidebar ul{
  padding-left: 12px;
  margin-bottom: 0;
  list-style: none;
}
#sidebar a {
  display: block;
  padding-left: 10px;
  color: #666;
}
#sidebar a.active{
  border-left: 3px solid #2196F3;
  background-color: #f5f5f5;
  color: #2196F3;
}
#sidebar>ul>li>a{
  font-weight: bold;
}
#sidebar-ctrl {
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 40%;
  height: 50px;
  width: 18px;
  padding-top: 14px;
  background-color: rgba(221, 221, 221, 0.8);
  border-radius: 0 5px 5px 0;
  z-index: 10;
  box-shadow: 1px 0 5px #ccc;
  border: 1px solid #cdcdcd;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}
#content-toc-box {
  position: fixed;
  top: 150px;
  right: 10px;
  min-width: 120px;
  max-width: 200px;
  max-height: 400px;
  background-color: #fff;

  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px #dedede;
}

#content-toc-box .title{
  font-weight: bold;
}
#content-toc {
  padding: 6px;
}
#content-box {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  z-index: 2;
  bottom: 0;
  overflow-y: auto;
  padding-top: 15px;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  max-width: 1200px;
  min-width: 350px; */
}
#content {
  padding-bottom: 15px;
}

.page-footer {
  border-top: 1px solid #dedede;
  padding: 25px;
  color: #aaa;
}
.page-footer .qq-group {
  position: relative;
  padding: 10px 15px;
  display: block;
}
.info-box {
  padding: 15px;
}
.info-box .info-item {
  display: inline-block;
  margin-right: 10px;
}

#loading-layer {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

#loading-layer div.loading {
  width: 50px;
  height: 50px;
  margin: 20% auto;
}
